<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Lavanderia - Login</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/styles/modules.css" th:href="${'/styles/modules.css'}" />
	<link rel="stylesheet" href="/styles/background.css" th:href="${'/styles/background.css'}" />
	<link rel="stylesheet" href="/styles/normalize.css" th:href="${'/styles/normalize.css'}" />
	<link rel="stylesheet" href="/styles/login.css" th:href="${'/styles/login.css'}" />
	<link rel="stylesheet" href="/styles/bootstrap-override.css" th:href="${'/styles/bootstrap-override.css'}" />
</head>
<body>

	<div class="bg-img">
		
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Lavanderia CWI Crescer</h1>
				<div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eaque iure illum suscipit beatae quaerat sit officiis tempore nisi nihil voluptatibus dolorem veritatis ipsa incidunt laudantium et repellat ducimus, esse.
					</p>
				</div>
			</div>
		</div>

		<div class="">

			<div th:if="${param.logout}">
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<p>Logout feito com sucesso</p>
				</div>
			</div>

			<div th:if="${param.error}">
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<p>Login incorreto. Tente novamente!</p>
				</div>
			</div>

			<form name="form" th:action="@{/login}" action="/login" method="POST" class="form-horizontal">

				<div class="form-group">
					<label class="col-sm-2 control-label">Usuario</label>
					<div class="form-control-override col-sm-10">
						<input type="text" name="username" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Senha</label>
					<div class="form-control-override col-sm-10">
						<input type="password" name="password" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-12">
						<button type="submit" class="btn btn-default">Logar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div th:include="fragments/_scripts :: scripts"></div>
</body>
</html>
