<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Lavanderia - Login</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/styles/modules.css" th:href="${'/styles/modules.css'}" />
	<link rel="stylesheet" href="/styles/background.css" th:href="${'/styles/background.css'}" />
	<link rel="stylesheet" href="/styles/normalize.css" th:href="${'/styles/normalize.css'}" />
	<link rel="stylesheet" href="/styles/login.css" th:href="${'/styles/login.css'}" />
	<link rel="stylesheet" href="/styles/bootstrap-override.css" th:href="${'/styles/bootstrap-override.css'}" />
</head>
<body>

	<div class="bg-img">
		
		<div class="login-content-text text-center">
			<h1 class="login-content-title">Lavanderia CWI Crescer - Login</h1>
			<div>
				<p>
					Web System Lavanderia CWI Crescer, entre se já tiver um cadastro, se não entre em contato com o administrador do sistema.
				</p>
			</div>
		</div>

		<div class="login-content text-center">

			<div th:if="${param.logout}">
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<p>Logout feito com sucesso</p>
				</div>
			</div>

			<div th:if="${param.error}">
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<p>Login incorreto. Tente novamente!</p>
				</div>
			</div>
			
			<form name="form" th:action="@{/login}" action="/login" method="POST" class="form-horizontal">

				<div class="text-left container-title-login">
					<h3 class="title-login">Login</h3>
					<p>Insira seu usuario e senha para logar:</p>
				</div>

				<div class="form-group">
					<div class="form-control-override form-login col-sm-12">
						<input type="text" name="username" placeholder="Usuario" class="form-control input-lg" />
					</div>
				</div>

				<div class="form-group">
					<div class="form-control-override form-login col-sm-12">
						<input type="password" name="password" placeholder="Senha" class="form-control input-lg" />
					</div>
				</div>

				<div class="form-group">
					<div class="form-login col-sm-12">
						<button type="submit" class="btn btn-primary btn-lg btn-block">Logar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
