.login-menu-content {
    padding: 9px 18px 9px;
    width: 280px;
    position: absolute;
    top: 58px;
    right: 52px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 4px rgba(0 ,0, 0, 0.8);
}

.login-menu-input {
    padding: 9px 0 9px;
}

#triangle {
    position: absolute;
    color: #fff;
    top: -10px;
    right: 40px;
}
