.background {
    width: 100%;
    background-image: url('Images/background-1.jpg'), url('https://static.pexels.com/photos/498/playing-sony-console-controller.jpg');
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.header-shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.btn-face {
    padding: 15px;
}

fb-like-container {
    width: 47px !important;
    height: 20px !important;
}

/*=========================*/

.banner {
    width: 100%;
}

.banner-title {
    font-size: 80px;
    font-weight: 600;
    margin: 0;
    padding: 80px 0 30px;
}

.banner-text {
    font-size: 24px;
    margin: 0;
    padding: 30px 0 170px;
}

/*=========================*/

.view-title {
    padding: 30px 0 30px;
    margin: 0;
}

.view-title::after {
    content: "";
    display: block;
    position: relative;
    top: 10px;
    left: 45%;
    width: 120px;
    height: 2px;
    background-color: #fff;
}

.text-shadow {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.footer {
    margin: 0;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.4);
}

.footer p {
    margin: 0;
}

/*=========================*/

.table-text-left {
    text-align: left;
}

.table-text-right {
    text-align: right;
}

.table-shadow {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4)
}

.table-img {
    width: 340px;
    height: 220px;
}

/*=========================*/

.heart {
    font-size: 16px;
    color: red;
    margin: 5px;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    animation: heart-beat 2s infinite;
}

@keyframes heart-beat {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.5);
    }
    50% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    100% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}
