<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="default">
<head>
	<title>Edição</title>
</head>
<body>
	<div layout:fragment="content">
		
		<h2 class="title-container title-shadow">Editar cliente <span th:text="${cliente.nome}"></span></h2>

		<div class="form-content">
			<form th:action="@{/clientes/editar}" th:object="${cliente}" method="post" class="form-horizontal">

				<input th:field="*{id}" type="hidden" />

				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
					<label class="col-sm-2 control-label">Nome:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{nome}" type="text" class="form-control" />
						<span class="help-inline" th:errors="*{nome}"></span>
					</div>
				</div>

				<div class="form-group" th:classappend="${#fields.hasErrors('cpf')} ? 'has-error'">
					<label class="col-sm-2 control-label">CPF:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{cpf}" type="text" class="form-control" />
						<span class="help-inline" th:errors="*{cpf}"></span>
					</div>
				</div>

				<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
					<label class="col-sm-2 control-label">E-mail:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{email}" type="text" class="form-control" />
						<span class="help-inline" th:errors="*{email}"></span>
					</div>
				</div>

				<div class="form-group" th:classappend="${#fields.hasErrors('endereco')} ? 'has-error'">
					<label class="col-sm-2 control-label">Endereço:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{endereco}" type="text" class="form-control" />
						<span class="help-inline" th:errors="*{endereco}"></span>
					</div>
				</div>

				<div class="form-group" th:classappend="${#fields.hasErrors('bairro')} ? 'has-error'">
					<label class="col-sm-2 control-label">Bairro:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{bairro}" type="text" class="form-control" />
						<span class="help-inline" th:errors="*{bairro}"></span>
					</div>
				</div>

				<div class="form-group" th:classappend="${#fields.hasErrors('cep')} ? 'has-error'">
					<label class="col-sm-2 control-label">CEP:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{cep}" type="text" class="form-control" />
						<span class="help-inline" th:errors="*{cep}"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Cidade:</label>
					<div class="form-control-override col-sm-10">
						<select th:field="*{idCidade}" class="form-control">
							<option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" >[option]</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Salvar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
