
@{
    ViewBag.Title = "Home";
}

<div class="banner text-center text-shadow">
    <h1 class="banner-title">Locadora do Iago</h1>
    <p class="banner-text">
        Este projeto foi desenvolvido durante as aulas do <a href="#">Projeto CRESCER</a>,
        para aprendizado da arquitetura MVC com ASP.NET. A aplicação consiste numa locadora
        de jogos utilizando XML, ADO, e o Visual Studio para desenvolvimento.
        Consta com algumas funções básicas de inserção, edição, e exclusão de jogos, também podendo listar os jogos já existentes.
    </p>
</div>

<div class="action-btns">
    <button class="btn-action btn btn-primary btn-lg" onclick="location.href='../Relatorio/JogosDisponiveis'">Listar Jogos</button>
</div>
