<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="template">
<head>
	<title>Exibe</title>
</head>
<body>
	<div layout:fragment="header">
		<div th:include="fragments/headers/_header-pedido :: header-nav"></div>
	</div>
	<div layout:fragment="content">
		<h2 class="title-container title-shadow">Pedido <span th:text="${pedido.id}"></span></h2>

		<div class="form-content">

			<form th:object="${pedido}" class="form-horizontal">
				<div class="form-group">
					
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nome Cliente:</label>
					<div class="form-control-override col-sm-4">
						<input th:field="*{cliente.nome}" type="text" disabled="true" class="form-control" />
					</div>

					<label class="col-sm-1 control-label">CPF:</label>
					<div class="form-control-override col-sm-5">
						<input th:field="*{cliente.cpf}" type="text" disabled="true" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Data Inclusão:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{dataInclusao}" type="text" disabled="true" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Data Entrega:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{dataEntrega}" type="text" disabled="true" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Valor Bruto:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{valorBruto}" type="text" disabled="true" class="form-control" />		
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Valor Desconto:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{valorDesconto}" type="text" disabled="true" class="form-control" />		
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Valor Total:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{valorTotal}" type="text" disabled="true" class="form-control" />		
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Situação:</label>
					<div class="form-control-override col-sm-10">
						<input th:field="*{situacao}" type="text" disabled="true" class="form-control" />
					</div>
				</div>

				<p>Itens:</p>
				<div th:if="${ not #lists .isEmpty(itens) }">
					<table class="table-override table">
						<thead>
							<tr>
								<th>#</th>
								<th>Servico</th>
								<th>Material</th>
								<th>Peso</th>
								<th>Valor Unitario</th>
								<th>Valor Total</th>
								<th>Situação</th>
								<th class="text-center">Finalizar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${(itens)}">
								<td th:text="${item.id}"></td>
								<td th:text="${item.servico}"></td>
								<td th:text="${item.material}"></td>
								<td th:text="${item.peso}"></td>
								<td th:text="${item.valorUnitario}"></td>
								<td th:text="${item.valorTotal}"></td>
								<td th:text="${item.situacao}"></td>
								<td align="center">
									<a th:href="${ '/itens/processar/' + item.id }" class="table-link">
										<span class="table-icon glyphicon glyphicon-ok" aria-hidden="true"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-10 col-sm-2">
						<a th:href="${ '/itens/processarTodos/' + pedido.id }" class="btn btn-primary">Finalizar Todos</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
