/* ==============================================
	Container
   ============================================== */

.container-override {
    width: 964px;
    height: 83%;
    left: 300px;
    top: 95px;
}