/* ==============================================
	Container
   ============================================== */

.container-override {
    margin: -12px 8px 8px 266px;
    width: 78.8%;
    padding-bottom: 15px;
    padding-top: 1px;
    min-height: 82.4%;
}

.title-container {
	font-size: 18px;
	font-weight: 600;
	margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
}