/* ==============================================
	Header
   ============================================== */

@CHARSET "UTF-8";

.navbar-override {
	border-width: 0;
	margin-left: 260px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.search-override {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6) !important;
	border-color: transparent;
}

.search-button-override {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6) !important;
	border-color: transparent;	
}

.search-button-override:hover {
	color: #666;
}