/* ==============================================
	Menu
   ============================================== */

@CHARSET "UTF-8";

.menu {
	width: 260px;
	height: 100%;
	color: white;
    top: 0;
}

.menu-black {
	width: 260px;
    height: 609px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu-nav {
	position: absolute;
    top: 0;
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.menu-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.menu-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.menu-nav li a:active,
.menu-nav li a:focus {
    text-decoration: none;
}

.menu-nav > .menu-brand {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
}

.menu-nav > .menu-brand a {
    color: #fff;
}

.menu-nav > .menu-brand a:hover {
    color: #fff;
    background: none;
}
