/* ==============================================
	Menu
   ============================================== */

@CHARSET "UTF-8";

.menu {
	width: 260px;
	height: 94%;
	left: 22px;
	top: 22px;
	color: white;
}
