<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="template">
<head>
	<title>Usuarios</title>
</head>
<body>

	<div layout:fragment="content">
		
		<div th:if="${mensagem}">
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p th:text="${mensagem}"></p>
			</div>
		</div>

		<h2 class="title-container title-shadow">Usuarios</h2>

		<div th:if="${ not #lists .isEmpty(users) }">
			<table class="table-override table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Flag</th>
						<th class="text-center">Detalhes</th>
						<th class="text-center">Editar</th>
						<th class="text-center">Remover</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${(users)}">
						<td th:text="${user.nome}"></td>
						<td th:text="${user.flag}"></td>
						<td align="center">
							<a th:href="${ '/users/' + user.nome }">
								<span class="table-icon glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>
						</td>
						<td align="center">
							<a th:href="${ '/users/editar/' + user.nome }" class="table-link">
								<span class="table-icon glyphicon glyphicon-cog" aria-hidden="true"></span>
							</a>
						</td>
						<td align="center">
							<a th:href="${ '/users/remover/' + user.nome }" class="table-link">
								<span class="table-icon glyphicon glyphicon-remove" aria-hidden="true"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>
