
@{
    ViewBag.Title = "Locadora Marota";
}

<div class="banner">
    <h1 class="title text-center text-shadow">Locadora Marota</h1>
    <p class="text-center text-shadow">
        Este projeto foi desenvolvido durante as aulas do <a href="#">Projeto CRESCER</a>,
        para aprendizado da arquitetura MVC com Asp.NET. A aplicação consiste numa locadora
        de jogos utilizando um pequeno banco XML, e o Visual Studio para desenvolvimento.
        Contém algumas funções básicas de inserção, edição, e exclusão de jogos, também podendo listar os jogos já existentes.
    </p>
</div>

<button class="btn btn-primary btn-lg btn-position" href="~/Views/ListaJogos">Listar Jogos</button>
