/* ==========================================
	Footer
========================================== */

.footer {
	padding: 10px 15px;
	background: #000;
}

.copyright {
	margin: 30px auto 3px;
	color: #fff;
}