/* ==========================================
	Section
========================================== */

.section {
	width: 960px;
	margin: 0 auto;
}

.column1 {
	width: 585px;
	padding: 0 15px 0 0;
}

.aside {
	width: 360px;
}